{
  "singleQuote": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "printWidth": 80,
  "bracketSpacing": true,
  "endOfLine": "auto",
  "plugins": ["prettier-plugin-organize-attributes"],
  "attributeGroups": [
    "^id$",
    "^class$",
    "^(data-.*)",
    "^src$",
    "^href$",
    "^for$",
    "^type$",
    "^value$",
    "^title$",
    "^alt$",
    "^role$",
    "^aria-",
    "^required$",
    "^placeholder$",
    "^.*$"
  ]
}